fieldset{
    background: lightyellow;
    border:10px solid yellow;
    margin-bottom: 10px;
    width: 720px;
   
   
}
label
{display:inline-block;
    text-align: right;
    vertical-align: top
}
.checkbox_style{
    width:auto;
}
.rangeleft{width:auto;}
    textarea{width:360px;height: 50px}